@import "../App.scss";

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;

  .modal-content {
    max-width: 90vw;
    max-height: 90vh;
    background-color: white;
    padding: 2rem;
    gap: 1rem;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: scroll;

    @media screen and (max-width: 440px) {
      padding: 1rem;
    }

    img,
    iframe {
      max-height: 50rem;
      max-width: 100%;
      border-radius: 10px;
      padding-top: 1rem;
    }

    iframe {
      height: 45vh;
      width: 100%;
    }

    .title {
      h2 {
        color: white;
        background-color: black;
        font-family: $paragraph-font;
        text-transform: uppercase;
        text-align: left;
        width: fit-content;
        padding: 0.2rem 1rem;

        @media screen and (max-width: 440px) {
          font-size: 1.2rem;
        }
      }
    }

    .modal-explanation {
      max-width: 60rem;
      text-align: justify;
      overflow: scroll;
      cursor: default;

      @media screen and (max-width: 440px) {
        margin: 0 0;
      }

      p {
        font-family: $paragraph-font;
        font-size: 1rem;
      }
    }
  }

  .modal-close {
    position: absolute;
    top: -10px;
    right: 5px;
    font-family: $paragraph-font;
    font-size: 2.5rem;
    color: black;
    cursor: pointer;
  }
}
