@import "../App.scss";

.navBar {
  font-family: $menu-font;
  color: $yellow;
  font-size: 4rem;
  text-align: center;
  margin: 0 auto;

  @media screen and (max-width: 440px) {
    width: 100%;
    padding-top: 0.5rem;
    font-size: 2rem;
  }
  @media screen and (max-width: 375px) {
    font-size: 1.7rem;
  }
}
