@import "../App.scss";

.POD-container {
  max-width: 80vw;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;

  .main-section {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    color: white;
    gap: 3rem;

    img {
      border-radius: 10px;
      max-height: 80vh;
      max-width: 80vw;
    }

    .explanation {
      max-height: 80vh;

      h1 {
        font-family: $paragraph-font;
        font-size: 1.5rem;
        text-transform: uppercase;
      }

      p {
        margin-top: 2rem;
        font-family: $paragraph-font;
        text-align: justify;
        line-height: 1.5rem;
      }
    }

    @media screen and (max-width: 440px) {
      .explanation {
        max-height: 40vh;
        overflow: scroll;

        h1 {
          font-size: 1rem;
        }
      }
    }

    @media screen and (max-width: 1024px) {
      flex-direction: column;

      img {
        margin: 0 auto;
      }

      iframe {
        height: 30vh;
      }
    }

    @media screen and (min-width: 1024px) {
      img {
        max-width: 50%;
      }
    }

    @media screen and (min-width: 1440px) {
      .explanation {
        max-width: 50%;

        h1 {
          font-size: 2rem;
          margin-bottom: 2em;
        }

        p {
          font-size: 1.5rem;
          line-height: 2rem;
        }
      }
    }
  }

  .date-picker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 5rem;
    font-family: $title-font;
    font-size: 1rem;
    text-align: center;
    color: $yellow;

    @media screen and (max-width: 440px) {
      font-size: 0.7rem;
    }

    input {
      border-radius: 50px;
      font-family: $paragraph-font;
      font-size: 1rem;
      font-weight: 600;
      padding: 0.3rem;
      border: 5px solid $yellow;
      cursor: pointer;

      @media screen and (max-width: 440px) {
        font-size: 0.8rem;
      }
    }
  }
}
