@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap");

$menu-font: "Bungee Outline", cursive;
$title-font: "Bungee", cursive;
$paragraph-font: "Roboto Mono", monospace;
$yellow: #f2d39a;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background-image: url("/background.jpg");
  padding: 2rem;

  @media screen and (max-width: 440px) {
    padding: 0;
  }
}

// DIVIDERS
.divider {
  width: 100%;
  color: $yellow;
  font-family: $menu-font;
  font-size: 3rem;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: default;

  @media screen and (max-width: 440px) {
    font-size: 2rem;
  }
}

.divider::before,
.divider::after {
  flex: 1;
  content: "";
  padding: 0.1rem;
  background-color: $yellow;
}
